body{
	margin:0;
	font:12px Arial,Helvetica,sans-serif;
	color:#F2F2E0;
	background:#111 url(http://www.3dm3.com/images/bg_body.jpg) repeat-x 50% 0;
	min-width:990px;
}
.color_4b{background-color:#353535;}
.color1, .imagerow1{background:#21201f;}
.color2, .imagerow2{background-color:#191919;}
.color3{background-color:#0f0f0f;}
.color_black{background-color:#000;}
.imagerow1 td, .imagerow2 td{
	padding:15px 24px;
}
img{border-style:none;}
form, fieldset {
	padding: 0;
	margin: 0;
	border:0;
}
h1{font-size: 25px;}
h2{font-size: 23px; color:#ffe6ca;}
h3{font-size: 20px;}

h1, h2, h3 {
	font-family:"Myriad Pro","Myriad Set","Myriad Apple",Myriad,Helvetica Nueue,Arial,Verdana,Sans-serif;
	letter-spacing:-1px;
	margin:0;
	padding:0;
	color:#ff8705;
	font-weight:bold;
}
a{
	text-decoration:underline;
	color:#aff0c8;
}
a:hover{color:#ff8607;}
p { font-size:12px; text-align:left;}
input,searchinput{
	font-size:10px;
	background:#191a1a url(/img/input_bg.gif);
	border:1px solid #3a3b3b;
	color:#b0b0b0;
	margin:0;
	padding:3px 5px 4px;
}
.button{
	font-family:arial, tahoma, sans-serif;
	font-size:12px;
	line-height:normal;
	color:#fff;
	background: #3279c1 url(/img/button_bg.gif) repeat-x;
	background-color:#333;
	border:1px solid #272727;
	vertical-align:middle;
	cursor:pointer;
	margin:0;
	padding:2px;
}
.button:hover{
	background:#d2a41f url(/img/button_over.gif) repeat-x;
	border:1px solid #c26000;
}
textarea{
	background:#191a1a url(/img/textarea_bg.gif);
	font:11px Arial,Verdana,Sans-serif; 
	letter-spacing:-1px;color:#f0f0f0;
	border:1px solid #3a3b3b;
	padding:0 5px;
}
#wrapper{
	width:100%;
}
.wrap-holder{
	margin:0 auto;
	width:990px;
}
/* header */
#header{
	width:100%;
	height:120px;
	overflow:hidden;
}
.logo{
	margin:0;
	float:left;
	width: 315px;
	height: 110px;
}
.logo a{
	display:block;
	background:url(http://www.3dm3.com/images/logo.png) no-repeat;
	width: 315px;
	height: 110px;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
	outline:none;
}
.logo a:hover{background-position:0 -110px;}
.searchbox{
	background:url(http://www.3dm3.com/images/search_bg.png) no-repeat;
	width: 300px;
	height: 40px;
	float:left;
	margin:0 0 0 25px;
	display:inline;
}
.searchbox input{float:left;}
.searchbox .search-inp{
	margin:5px 0 5px 2px;
	padding:3px 5px 4px;
	border:0;
	color:#CAFFEA;
	font-family:Tahoma,Geneva,sans-serif;
	font-size:18px;
	width:250px;
	display:inline;
	background:none;
}
.searchbox .btn-search{
	height:35px;
	width:35px;
	margin:0;
	padding:3px 5px 4px;
	border:0;
	font-size:0;
	line-height:0;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
	background:url(http://www.3dm3.com/images/none.gif) no-repeat;
}
#header iframe.user_login {
	float:right;
	height:66px;
	margin-top:22px;
	width:291px;
}
/* Nav Menu
-------------------------------------------------------------------*/
#navmenu{
	height:35px;
	width:990px;
	clear:both;
	overflow:hidden;
}
#navmenu ul{
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
}
#navmenu li{float:left;}
#navmenu li a{
	display:block;
	outline:0;
	text-indent:-9999px;
	background:url(http://www.3dm3.com/images/nav_menu.gif) no-repeat;
	height:35px;
}
#navmenu li.navmenuForums a{width:80px;}
#navmenu li.navmenuForums a:hover{background-position:0 -35px;}
#navmenu li.navmenuFreeItems a{width:104px;background-position:-80px 0;}
#navmenu li.navmenuFreeItems a:hover{background-position:-80px -35px;}
#navmenu li.navmenuFeatures a{width:93px;background-position:-184px 0;}
#navmenu li.navmenuFeatures a:hover{background-position:-184px -35px;}
#navmenu li.navmenuGallery a{width:85px;background-position:-277px 0;}
#navmenu li.navmenuGallery a:hover{background-position:-277px -35px;}
#navmenu li.navmenuPortfolio a{width:104px;background-position:-361px 0;}
#navmenu li.navmenuPortfolio a:hover{background-position:-361px -35px;}
#navmenu li.navmenuTutorials a{width:101px;background-position:-465px 0;}
#navmenu li.navmenuTutorials a:hover{background-position:-465px -35px;}
#navmenu li.navmenuAboutUs a{width:95px;background-position:-566px 0;}
#navmenu li.navmenuAboutUs a:hover{background-position:-566px -35px;}
#navmenu li.navmenuChallenges a{width:118px;background-position:-661px 0;}
#navmenu li.navmenuChallenges a:hover{background-position:-661px -35px;}
#navmenu li.navmenuJobs a{width:64px;background-position:-779px 0;}
#navmenu li.navmenuJobs a:hover{background-position:-779px -35px;}
#navmenu li.navmenuEvents a{width:80px;background-position:-843px 0;}
#navmenu li.navmenuEvents a:hover{background-position:-843px -35px;}
#navmenu li.navmenuVideo a{width:66px;background-position:-924px 0;}
#navmenu li.navmenuVideo a:hover{background-position:-924px -35px;}
#main{
	height:1%;
	background:#1a191b;
	z-index:1;
}
#content{
	width:810px;
	float:left;
	font:13px Arial, Helvetica, sans-serif;
	padding:0 10px 0 10px;
}
#GoogleBlock{
	height:15px;
	overflow:hidden;
	background-color:#060707;
	padding:5px 0;
	border: solid #232323;
	border-width:0 1px 1px;
}
.adsBlock{
	background-color:#000000;
	display:block;
	height:90px;
	overflow:hidden;
	padding:5px 0;
	text-align:center;
	width:100%;
}
#TutorialMenu{
	height:250px;
	padding:10px 0;
	overflow:hidden;
}
#TutorialMenu ul{
	margin:0;
	padding:0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
#TutorialMenu ul li{
	float:left;
	padding:7px 7px 10px;
	display:inline;
}
#TutorialMenu ul li a,
#TutorialMenu ul li a img{float:left; outline:none;}
#GlobalTutorialTab{
	height:1%;
	overflow:hidden;
}
#TutorialIndexTop {
	padding:10px;
	height:1%;
	overflow:hidden;
	background:#121212;
}
#TutorialIndexTop p{
	margin:0;
	color:#666;
}
#TutorialIndexForum{
	background:#000;
	border:1px solid #363636;
	padding:5px;
	overflow:hidden;
	margin:0 0 16px;
}
.btn-join{
	float:left;
	background:url(http://www.3dm3.com/images/forums.gif) no-repeat;
	padding:17px 0 0 34px;
	margin:0 0 0 270px;
	display:inline;
	font-weight:bold;
}
.promo-box{
	height:1%;
	overflow:hidden;
	text-align:center;
	background:#000;
	padding:10px;
}
.TutorialList{
	height:1%;
	overflow:hidden;
}
.TutorialList ul{
	margin:0;
	padding:0 0 10px;
	list-style:none;
	width:100%;
	overflow:hidden;
}
.TutorialList ul li{
	float:left;
	padding:0 5px;
	width:395px;
}
.TutorialList ul li h3{
	margin:0;
	padding:5px;
}
.TutorialList ul li h3 a{
	letter-spacing:-1px;
	color:#F57F00;
	font:bold 20px "Myriad Pro","Myriad Set","Myriad Apple",Myriad,Helvetica Nueue,Arial,Verdana,Sans-serif;
}
.TutorialList .TutorialIndexBlock{
	background:url(http://www.3dm3.com/images/bg-list.gif) no-repeat;
	width: 395px;
	height: 92px;
	overflow:hidden;
}
.TutorialList .TutorialIndexBlock .img-box{
	float:left;
	padding:5px;
	width:80px;
	height:80px;
}
.TutorialList .TutorialIndexBlock .img-box img{display:block;}
.TutorialList .TutorialIndexBlock .description{
	float:left;
	width:300px;
	padding:5px 5px 0 0;
}
.TutorialList .TutorialIndexBlock .description p{
	margin:0;
	color:#fff;
	font-size:12px;
}
#sidebar{
	width:160px;
	float:left;
}
#footer{
	min-width:990px;
	width:100%;
	overflow:hidden;
	border-top:1px solid #333;
	font-family:Arial,Helvetica,sans-serif;
	text-shadow:0 -1px 1px #000;
	font-size:12px;
	background:#000 url(http://www.3dm3.com/images/footer_bg.png) repeat-x;
	text-align:left;
}
#footer a{
	color:#757575; font-family:Arial, Helvetica, sans-serif;
}
.footer-holder{
	height:300px;
	margin:0 auto;
	padding:20px 0 0;
	width:990px;
	overflow:hidden;
}

.footer-holder a{color:#757575; padding-bottom:2px;}
.footer-holder a:hover{color:#fff;}
.column-footer{
	float:left;
	width:155px;
	margin:0 20px 0 0;
}
.column-footer h5{
	color:#EDF4FF;
	font-family: Tahoma,Georgia,"Times New Roman",Times,serif;
	font-size:12px;
	font-weight:700;
	letter-spacing:1px;
	margin:0;
	padding:0 0 15px;
	text-align:center;
	text-transform:uppercase;
}
.column-footer ul{
	margin:0;
	padding:19px 0 19px 40px;
	list-style:none;
}
.column-footer ul li{
	border-top:1px solid #222;
	display:block;
	line-height:1.8em;
	margin:0;
	padding:3px 0 3px;
}
.column-footer ul li:first-child{
	border-top:none;
}
.copy-box-footer{
	color:#555;
	float:right;
	font-size:1em;
	line-height:1.8em;
	width:220px;
	padding:0 50px 0 0;
}
.copy-box-footer p{margin:0;}
.copy-box-footer .footer-social-links{
	margin:22px 0 0 0;
	padding:0;
	list-style:none;
}
.ico-sprite{background:url(http://www.3dm3.com/images/icons-sprite.png) no-repeat scroll 0 0 transparent;}

.copy-box-footer .footer-social-links li{padding:0 0 0 20px; height:16px; margin:8px 0;}
.copy-box-footer .footer-social-links .facebook{ background-position:0 0; }
.copy-box-footer .footer-social-links .twitter{ background-position:0 -16px; }
.copy-box-footer .footer-social-links .identyme{ background-position:0 -32px; }
.copy-box-footer .footer-social-links .rss{ background-position:0 -48px; }

/* StaicPages 
-------------------------------------------------------------------*/
#StaicPagesBody{text-align:left;font-size:13px;font-family:Arial, Verdana, Helvetica, sans-serif;margin:0 auto;}
#StaicPagesTitle{text-align:left;background:#121212 url(http://www.3dm3.com/images/page-title-bg.gif) repeat-x 50% 0;padding:0 5px; margin-top:5px;}
#StaicPagesBody h1{text-align:left;background:#222 url(http://www.3dm3.com/images/page-title-bg.gif);color:#da8505;padding:0 0 3px 5px;}
#StaicPagesBody h2{text-align:left;background:#222 url(http://www.3dm3.com/images/page-title-bg.gif);color:#eaab01;}
#StaicPagesBody .StaicPages{padding:5px; background-color:#2b2a29;}
.aboutText{height:210px;border-bottom:1px solid #2b2b2b;padding:10px;}
.aboutBG{background-color:#21201f;padding:5px;}
.aboutThumb{float:left;display:block;height:200px;width:200px;voice-family:inherit;background:url(/img/aboutThumb_bg.png) no-repeat top left;margin:0;padding:0 15px 20px;}

#StaicPagesBody .StaicPages .adzonetab {border: 1px solid #000;}
#StaicPagesBody .StaicPages .adzonetab .adTableTitle{color:#999; font-weight:700; text-shadow:#000 1px 1px 1px;text-transform:uppercase;}
#StaicPagesBody .StaicPages .adzonetab .adrow1 { background-color:#1e1c1a; border-bottom:1px dotted #666;}
#StaicPagesBody .StaicPages .adzonetab .adrow2 { background-color:#21201f; border-bottom:1px dotted #666;}
#StaicPagesBody .StaicPages .adzonetab .adrow1:hover { background-color:#403c37;}
#StaicPagesBody .StaicPages .adzonetab .adrow2:hover { background-color:#403c37;}
#StaicPagesBody .StaicPages .adzonetab .red { color:#F00; text-shadow:#000 1px 1px 1px}
#StaicPagesBody .StaicPages .adzonetab span { font-size:10px;}


/* Tutorials
-------------------------------------------------------------------*/
#GlobalTutorialTab{width:100%;text-align:left;margin:0 auto;}

#TutorialTitle h1{ font: bold 24px/26px "Myriad Pro","Myriad Set","Myriad Apple",Myriad,Helvetica Nueue,Arial,Verdana,Sans-serif; letter-spacing:-1px;font-size:22px;color:#ff8706;background:#121212 url(/img/tutorial_title.gif) repeat-x 50% 0; padding:5px;}
#TutorialBody{text-align:left;text-decoration:none;margin:0 auto; padding:5px; background-color:#2a2928;}
#TutorialBody h2{ font: bold 20px/23px "Myriad Pro","Myriad Set","Myriad Apple",Myriad,Helvetica Nueue,Arial,Verdana,Sans-serif; letter-spacing:-1px;color:#fff8da;}
#TutorialPages{text-align:center;background-color:#151515;padding:5px;}
#TutorialPages strong{font-size:18px;font-weight:700;}
#TutorialTalk{background-color:#000;font-weight:700;color:#fff;margin:10px 0;padding:5px;}
#TutorialTalk:hover{background-color:#141414;}

.TutorialIndex{float:left;width:395px; margin: 0 5px;}
#TutorialIndexTop{color:#666;background:#121212;padding:10px;}
.TutorialIndex .TutorialIndexTitle h3 a{text-align:left;font-size:20px;color:#f57f00;font-family:"Myriad Pro","Myriad Set","Myriad Apple",Myriad,Helvetica Nueue,Arial,Verdana,Sans-serif; letter-spacing:-1px;margin:15px 0 0 0;}
.TutorialIndex .TutorialIndexBlock, #ArticlesIndexBlock{height:90px;background-color:#111;border:1px solid #444;margin:0 auto; -moz-border-radius:5px; -webkit-border-radius:5px;}
.TutorialIndex .TutorialIndexBlock .TutorialIndexImg{width:80px;height:80px;float:left;padding:5px;}
.TutorialIndex .TutorialIndexBlock .TutorialIndexDesc{display:block;color:#fff;font-size:12px;text-align:left;margin:0;padding:5px;}
.TutorialIndex .TutorialIndexShadow{height:24px;background-image:url(/img/tutorialsBG.png);margin:0 auto;}
#TutorialIndexForum{text-align:center;background-color:#000;border:1px solid #363636;padding:5px;}
#TutorialCopyright{font-size:11px;text-align:left;color:#ccc;font-family:tahoma, verdana, geneva, helvetica, arial, sans-serif;padding:10px 0;}

#TutorialMenu{margin:10px auto; height:250px;}
#TutorialMenu .tut_menu_nav{text-transform:uppercase;}
#TutorialMenu .tut_menu_nav ul{list-style-type:none;width:auto;float:left;margin:0;padding:0;}
#TutorialMenu .tut_menu_nav ul li{display:block;float:left;margin:7px;}
.UserSections a{width:100%;float:right;height:30px;margin:0;padding:0;}

/* Portfolio
-------------------------------------------------------------------*/
.GalleryImg{margin:7px; border:5px solid #171717; -moz-border-radius: 5px; -webkit-border-radius: 5px; width:80px; height:80px; float:left;}
.GalleryImg:hover{border:5px solid #ffd800; -moz-border-radius: 5px; -webkit-border-radius : 5px;}

/* Articles
-------------------------------------------------------------------*/
#ArticlesIndexImg{width:80px;height:80px;float:left;padding:5px;}
.ArticlePages{width:100%;text-align:center;background-color:#000;border:1px solid #333;font-size:22px;font-weight:700;font-family:"Trebuchet MS", tahoma;color:#ccc;padding:2px;}

fieldset {border: 1px solid #473737;padding:10px;padding-top:10px;margin-bottom:10px;clear:both; background-color:#21201f}

/* Nav Pro
-------------------------------------------------------------------*/
#pronav{display:block;height:30px;width:100%; margin-top:15px; float:right;}
#pronav ul{list-style-image:none;list-style-position:outside;list-style-type:none;display:block;margin:0;padding:0;}
#pronav li{float:left;margin:0;padding:0 1px;}
#pronav li a{text-decoration:none;text-indent:-1000em;outline:0;}

#pronavPortfolio a{display:block;width:150px;height:30px;background:url(/img/user_portfolio.gif) no-repeat 0 0;}
#pronavPortfolio a:hover{background:url(/img/user_portfolio.gif) no-repeat 0 -30px;}
#pronavPortfolio span{cursor:default;width:150px;height:30px;background:url(/img/user_portfolio.gif) no-repeat 0 -60px;}

#pronavBlog a{display:block;width:150px;height:30px;background:url(/img/user_blog.gif) no-repeat 0 0;}
#pronavBlog a:hover{background:url(/img/user_blog.gif) no-repeat 0 -30px;}
#pronavBlog span{cursor:default;background:url(/img/user_blog.gif) no-repeat 0 -60px;}

#pronavProfile a{display:block;width:150px;height:30px;background:url(/img/user_profile.gif) no-repeat 0 0;}
#pronavProfile a:hover{background:url(/img/user_profile.gif) no-repeat 0 -30px;}
#pronavProfile span{cursor:default;display:block;background:url(/img/user_profile.gif) no-repeat 0 -60px;}

#pronavAmazingCG_3D a{display:block;width:150px;height:30px;background:url(/img/user_amazingcg_3d.gif) no-repeat 0 0;}
#pronavAmazingCG_3D a:hover{background:url(/img/user_amazingcg_3d.gif) no-repeat 0 -30px;}

#pronavAmazingCG_2D a{display:block;width:150px;height:30px;background:url(/img/user_amazingcg_2d.gif) no-repeat 0 0;}
#pronavAmazingCG_2D a:hover{background:url(/img/user_amazingcg_2d.gif) no-repeat 0 -30px;}

#pronav3DGallery a{display:block;width:150px;height:30px;background:url(/img/user_3d_gallery.gif) no-repeat 0 0;}
#pronav3DGallery a:hover{background:url(/img/user_3d_gallery.gif) no-repeat 0 -30px;}

#pronav2DGallery a{display:block;width:150px;height:30px;background:url(/img/user_2d_gallery.gif) no-repeat 0 0;}
#pronav2DGallery a:hover{background:url(/img/user_2d_gallery.gif) no-repeat 0 -30px;}

#pronavVisualization a{display:block;width:150px;height:30px;background:url(/img/user_visualization.gif) no-repeat 0 0;}
#pronavVisualization a:hover{background:url(/img/user_visualization.gif) no-repeat 0 -30px;}

#pronavSketchbook a{display:block;width:150px;height:30px;background:url(/img/user_sketchbook.gif) no-repeat 0 0;}
#pronavSketchbook a:hover{background:url(/img/user_sketchbook.gif) no-repeat 0 -30px;}

#pronavMakingofs a{display:block;width:150px;height:30px;background:url(/img/user_makingofs.gif) no-repeat 0 0;}
#pronavMakingofs a:hover{background:url(/img/user_makingofs.gif) no-repeat 0 -30px;}

#pronavInterviews a{display:block;width:150px;height:30px;background:url(/img/user_interviews.gif) no-repeat 0 0;}
#pronavInterviews a:hover{background:url(/img/user_interviews.gif) no-repeat 0 -30px;}

#pronavReviwes a{display:block;width:150px;height:30px;background:url(/img/user_reviews.gif) no-repeat 0 0;}
#pronavReviwes a:hover{background:url(/img/user_reviews.gif) no-repeat 0 -30px;}

#pronavArticles a{display:block;width:150px;height:30px;background:url(/img/user_articles.gif) no-repeat 0 0;}
#pronavArticles a:hover{background:url(/img/user_articles.gif) no-repeat 0 -30px;}


#pronav ul:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}

#main ul.metasocial{ float:left; list-style:none; margin:20px; padding:2px 0; width:100%;}
#main ul.metasocial li{ float:left; width:120px; margin-right:2px;}