
/* netrino_menu */
#netrino_menu{ margin:0px; padding:0px; list-style:none; color:#fff; line-height:35px; display:inline-block; float:right; z-index:1000;font-family:Arial, Helvetica, Sans-Serif; font-size:11px; color:#999; font-family:Tahoma, Geneva, sans-serif;}
#netrino_menu a { color:#fff; text-decoration:none; }
#netrino_menu > li {min-width:200px; cursor:pointer; float:left; position:relative;padding:0 15px 0 0; text-align:left;}
#netrino_menu > li a.marketplaces_button, a.cgsites_button, a.dtuts_button{ width:214px; height:35px; margin-top:10px;text-indent:-1000em; display:block;}
#netrino_menu > li a.marketplaces_button { background:url(../img/network_marketplaces.png) no-repeat;}
#netrino_menu > li a.cgsites_button { background:url(../img/network_cgsites.png) no-repeat;}
#netrino_menu > li a.dtuts_button { background:url(../img/network_dtuts.png) no-repeat;}
#netrino_menu > li a:hover {color:#fffd8d;}

/* sub-netrino_menus */
#netrino_menu ul { padding:0px; margin:0px; display:block; display:inline;}
#netrino_menu li ul { position:absolute; left:0; width:211px; line-height:16px; background:#121315; color:#646b6b; display:none; -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0; border-top: 1px solid #2e2e2e; border-left: 1px solid #2e2e2e; border-right: 1px solid #2e2e2e; border-bottom: 1px solid #2e2e2e; font-family:Arial, Verdana, Helvetica, sans-serif; font-size:16px;}
#netrino_menu li ul.marketplaces { top:-152px; }
#netrino_menu li ul.cgsites { top:-152px; }
#netrino_menu li ul.dtuts { top:-152px; }
#netrino_menu li:hover ul { display:block;}
#netrino_menu li ul li:last-child { border: none; }
#netrino_menu li ul li{ display:block; margin:0 1px; padding: 10px 20px;  border-bottom: dotted 1px #606060; list-style-type:none; }
#netrino_menu li ul li:hover{ background-color:#232426; }
#netrino_menu li ul li a { display:block; outline:none; color:#fffed1; font-size:16px; font-weight:bold;font-family:Arial, Verdana, Helvetica, sans-serif;}
#netrino_menu li ul li span { font-size:11px; font-family:Tahoma,Geneva,sans-serif;}

/* netrino footer */
#netrino_footer_wrap {position: relative;height:45px;width:100%;background: #000; url(../img/network_dot.png);border-top:1px dotted #2e3131;z-index:99999;}
#netrino_footer_wrap a.network_logo {margin-left:10px; background:url(../img/network_logo.png) no-repeat top left; width:180px; height:45px; display:block; float:left;text-indent:-1000em;}
#netrino_footer {position:relative; width:100%;}