table.sis_form        {text-align: center; font-size: 75%; width: 75%; margin-left: 15px; overflow: hidden;}
table.sis_form tr td  {padding-left: 15px; vertical-align: top; padding-top: 5px;}

table.sis_fileform        {text-align: center; font-size: 75%}
table.sis_fileform tr td  {padding-left: 8px; vertical-align: top; padding-top: 5px;}

table.sis_form hr  {margin-top: 20px;}

table.sis_form tr td.short {width: 33%;}

span.helpicon      {position: relative;}
div.helptip        {display: none; padding: 5px; position: absolute; top: 0px; left: 2em; width: 400px; min-width: 400px; border: 1px solid black; background: #EEEECC; color: #555555; z-index: 9999;}
div.helptip a:link {color: #555555;}

iframe.helpblock {display: none; position: absolute; top: 0; left: 0; z-index:-1; filter: mask(); width:3000px; height:3000px;}

*.mandatory {font-weight: bold; color: #770000; background-color: #FAEAEA;}
tr.error td {font-weight: bold; color: #F8DFDF; background-color: #730000;}
tr.valid td {font-weight: bold; color: green; background-color: white;}
span.explanation {padding: 3px; border: 1px solid black; margin: 5px; font-size: 75%;}
div.errormsg     {padding: 3px; width: 50%; white-space: nowrap; border: 1px solid #660000; margin: 5px; font-weight: bold; background-color: #EEEEBB;}

table.sis_fileform tr.complete {background-color: #DDFFDD;}
table.sis_fileform tr.csOnly   {background-color: #FFFFDD;}

div.pagenum {float: right; margin: 3px; padding: 2px; border: 1px solid #BBBBBB; background-color: #E5E5E5; color: #666666; font-size: 70%;}

input.formbutton {color: #000055; font-family: 'arial,helvetica,sans-serif'; font-size: 75%; font-weight: bold; margin: 0.5em;}

.tooltip          {width: 311px; color:#000; font:bolder 11px/1.3 Arial,sans-serif; text-decoration:none;text-align:center;}
.tooltip a        {position: relative;}

div.rofield  {width: 400px; margin-bottom: 3px; border: 1px solid grey; padding: 3px; color: black;}
